.wrap {
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    font-size: 13px;
    padding: 20px;
    border-style: solid;
}

hr.solid {
    border-top: 1px solid #bbb;
}

.emergency-button {
    background-color: red;
    color: white;
    border: none;
    text-align: center;
    padding: 7px;
    font-size: medium;
    cursor: pointer;
    opacity: 1;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    float: left;
}

.emergency-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disable-message {
    display: none;
    padding: 30px;
    padding-left: 110px;
}

.emergency-message {
    padding: 20px;
    padding-left: 110px;
}

#mode-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#mode-div>p {
    flex-grow: 2;
}

#mode-div>div {
    flex-grow: 3;
}